.header-bg {
    background-color: var(--cor-1);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--cor-0);
}

.titulo {
    text-decoration: none;
    color: var(--cor-0);
}

@media (max-width: 800px) {
    .titulo {
        margin-left: 14px;
    }
    .menu {
        margin-right: 14px;
    }
}

@media (max-width: 500px) {
    .header {
        justify-content: center;   
    }
    .menu {
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }
}