.subscrise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: top;
    padding-top: 60px;
    padding-bottom: 80px;
}

.form-email-home {
    padding-top: 8px;
}

.input-home {
    margin-top: 20px;
    text-align: left;
    padding: 12px 160px 12px 20px;
    border: 1px solid var(--cor-1)
} 

.input-button-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button-home {
    color: var(--cor-0);
    text-decoration: none;
    padding: 11px 20px;
    border: none;
    background-color: var(--cor-1);
    margin-top: 20px;
}

@media (max-width: 800px) {
    .subscrise {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 12px;
    }
    .input-button-home {
        justify-content: center;
        align-items: center;
    }
    .button-home {
        padding: 10.5px 20px;
    }
}

@media (max-width: 500px) {
    .button-home {
        padding: 18px 60px;
        border-radius: 4px;
    }
}