.flex-img-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.flex-img-home img {
    max-width: 300px;
    max-height: 420px;
    width: auto;
    height: auto;
    border-radius: 4px 0px 4px 0px;
}

.titulo-img {
    padding-top: 25px;
    padding-bottom: 15px;
}

@media (max-width: 500px) {
    .flex-img-home {
        padding-top: 25px;
        padding-bottom: 60px;
        justify-content: center;
    }
    .flex-img-home img {
        border-radius: 4px;
    }
    .titulo-img {
        padding-top: 18px;
    }
}