.section-4-bg {
    height: max-content;
    background: url(../../img/pg-principal/descount-image.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 30px;
}

.section-4-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 40px 50px;
    justify-content: center;
    align-items: center;
}

.section-4-descricao {
    margin-top: 20px;
    margin-bottom: 30px;
}

.section-4-button {
    color: var(--cor-2);
    text-decoration: none;
    padding: 14px 40px;
    background-color: var(--cor-0);
    border-radius: 4px;
}

@media (max-width: 400px) {
    .section-4-content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .section-4-button {
        
    }
}