.top-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.col-2 {
    grid-column: 2;
    grid-row: 1;
}

.detalhe-home {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.detalhe-home::before {
    content: "";
    position: absolute;
    height: 75px;
    width: 6px;
    margin-right: 10px;
    border-radius: 2px;
    background-color: var(--cor-3);
    transition: width 0.2;
}

.section-3-descricao {
    margin-left: 20px;
    padding-bottom: 20px;
}

.section-3-button {
    color: var(--cor-0);
    text-decoration: none;
    padding: 12px 20px;
    background-color: var(--cor-1);
    border-radius: 4px;
}

@media (max-width: 500px) {
    .top-videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-3-img img {
        max-width: 340px;
        max-height: 420px;
        width: auto;
        height: auto;
    }
    .section-3-content {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .section-3-descricao {
        padding-bottom: 8px;
    }
    .section-3-button {
        color: var(--cor-0);
        text-decoration: none;
        padding: 10px 20px;
        background-color: var(--cor-1);
        border-radius: 4px;
    }
    .detalhe-home::before {
        height: 122px;
    }
}