.main-bg {
    height: 100vh;
    background: url('../../img/pg-principal/foto-final.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
    padding-top: 160px;
}

.descricao-main {
    display: grid;
    grid-column: 1;
    margin-top: 20px;
    margin-bottom: 68px;
}

.button-main {
    display: grid;
    grid-column: 1;
    width: 100px;
    text-align: center;
}

/* Ipad - Responsive */

@media (max-width: 800px) {
    .main-bg {
        height: 70vh;
    }
    .main {
        align-items: center;
        padding-top: 80px;
        padding-left: 40px;
    }
}

/* Mobile - Responsive */

@media (max-width: 500px) {
    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
    }
    .descricao-main {
        margin-bottom: 36px;
    }
}